.table{
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    vertical-align: top;
    border-color: #F5F5F5;
    margin-bottom: 1rem;

    & thead{
        vertical-align: bottom;
    }

    & tbody{
        vertical-align: inherit;
    }
}

.thead-dark{
    background-color: #F5F5F5 
}

th{
    background-color: #F5F5F5;
    padding: 0.5rem 0.5rem;
    text-align: left;
}

tr{
    border-color: inherit;
    border-style: solid;
    border-width: 1px 0;
}

td{
    padding: 0.5rem 0.5rem
}

.addClient{
    margin-top: 30px;
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #0A99C3;
    color: white;
    border-radius: 10px;
}

.user-form{
    display: flex;
    flex-direction: column;
    align-items: center;

    &-label {
        min-width: 180px;
        text-align: left;
    }
}

.form-select{
    width: 250px;
}

.noButton{
    background: transparent;
    border: 0;
    outline: none;
    @include fontRegular;
    font-size: 15px;
    cursor: pointer;
}